html {
    display: block;
  }
  header {
    position: relative;  
  }
  #img {
    position: absolute;
    margin-left: 20px;
    height: 30px;
    width: 92px;
  }
  #search_bar {
    position: absolute;
    display: flex;
    margin-left: 150px;
    width: 550px;
  }
  #sign-in {
    position: absolute;
    right: 0;
  }
  #navbar {
    position: absolute;
    }
  #nav-link-div {
    margin-left: 100px;
  }
  #nav-link-div2 {
    margin-left: 500px;
    margin-top: -56px;
  }
  ul {
    display: flex;
  }
  li {
    display: inline;
    padding: 10px;
    padding-left: 20px;
  }
  main {
    position: absolute;
    width: 550px;
    margin-top: 60px;
    margin-left: 150px;
  }
  #snippet {
    border-style: solid;
    border-width: thin;
    padding: 15px;
  }