header {
    position: relative;  
  }
  #img {
    position: absolute;
    height: 30px;
    width: 92px;
  }
  #search_bar {
    position: absolute;
    display: flex;
    margin-left: 150px;
    width: 500px;
  }
  #sign-in {
    position: absolute;
    right: 0;
  }